<div class="container mt-3">
  <h1>Mi persona</h1>
  <p>
    Soy un desarrollador de software apasionado por la tecnología, con capacidad de aprendizaje autónomo, resolución de problemas y enfoque en la mejora continua.
  </p>
  <div>
    <h2>Educación</h2>
    <p>Ingeniería de Sistemas</p>
    <p>Formación complementaria en plataformas online (Udemy)</p>
  </div>
  <div class="container habili">
    <h2>Habilidades</h2>
    <ul>
      <li>Trabajo en equipo</li>
      <li>Resolución de problemas</li>
      <li>Aprendizaje rápido y autonomo</li>
      <li>Comunicación efectiva</li>
      <li>Pensamiento lógico</li>
      <li>Gestión del tiempo</li>
      <li>Adaptabilidad al cambio</li>
      <li>Capacidad de análisis</li>
      <li>Proactividad</li>
    </ul>
  </div>
  <div>
    <h2>Idiomas</h2>
    <p><b>Español: </b>Nativo</p>
    <p><b>Inglés: </b>Basico</p>
  </div>
  
</div>
