
p{
    text-align: justify;
}
.container{
    color: #E0E0E0;
}
.habili{
    border-radius: .5rem;
    border-color: aliceblue;
}
.subrayado-redondeado {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }
  
.subrayado-redondeado::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px; /* grosor de la línea */
    background-color: rgb(61, 61, 61); /* color de la línea */
    border-radius: 4px; /* esquinas redondeadas */
  
}
h3{
  color: #E0E0E0;
}
